测试开始...

注册教师teacher...

{"info":"注册成功！","pri":"b645472dd6e8a2a8679621702da379415a9839f2283b742b36b660e7f0e1b764_sk","pub":"teacher@Org1MSP-cert.pem"}

注册审查者reviewer...

{"info":"注册成功！","pri":"8c47c61c68d8389be463342f5bec7da1c8ce4c81626f93bca4c05bcf4963b6a8_sk","pub":"reviewer@Org1MSP-cert.pem"}

教师登录...

{"info":"登录成功！"}

教师发布试题...

{"info":"增加试题成功!"}

审查者登录...

{"info":"登录成功！"}

审查者获取待审核事件...

{"data":{"putCache":{"cache_put_1":{"owner":"teacher","id":"1","data":"1 1=?","answer":"2"}},"delCache":{}},"info":"获取待审核事件成功!"}

审查者批准待审核试题...

{"info":"批准事件成功!"}

注册学生student...

{"info":"注册成功！","pri":"74fab273e4d9771d1aeba18d6c193dad3568c5d7ddce5ce0870d056b2f0c2d0b_sk","pub":"student@Org1MSP-cert.pem"}

学生登录...

{"info":"登录成功！"}

学生获取试题...

{"data":{"owner":"teacher","id":"1","data":"1 1=?"},"info":"获取试题成功!"}

学生获取所有试题...

{"data":[{"owner":"teacher","id":"1","data":"1 1=?"}],"info":"获取所有试题成功!"}

注册管理员admin...

{"info":"注册成功！","pri":"8f257fe850dcf8c73d86ff36d9b52ec0d13095b4641b47a4afb32c50dbee149d_sk","pub":"admin2@Org1MSP-cert.pem"}

管理员登录...

{"info":"登录成功！"}

管理员获取日志...

{"data":{"data":{"log_1":{"id":"1","time":"2020-05-22 10:00","name":"teacher","op":"putQuestion","question_id":"1"},"log_2":{"id":"2","time":"2020-05-22 10:00","name":"reviewer","op":"approve putQuestion","question_id":"cache_put_1"}}},"info":"获取日志成功!"}

教师获取所有试题...

{"data":[{"owner":"teacher","id":"1","data":"1 1=?","answer":"2"}],"info":"获取所有试题成功!"}
