测试开始...

注册教师teacher...

{"info":"注册成功！","pri":"fd53d5e5418657f91b781eeaefb78a1b044c0fb34dff0699f3f40e07cc00f142_sk","pub":"teacher@Org1MSP-cert.pem"}

注册审查者reviewer...

{"info":"注册成功！","pri":"b7c519dd18f129cfb6a95e829e9921d452f3da50367ac7f79b36306ef80f298f_sk","pub":"reviewer@Org1MSP-cert.pem"}

教师登录...

{"info":"登录成功！"}

教师发布试题...

{"info":"增加试题成功!"}

审查者登录...

{"info":"登录成功！"}

审查者获取待审核事件...

{"data":{"putCache":{"cache_put_1":{"owner":"teacher","id":"1","data":"1 1=?","answer":"2"}},"delCache":{}},"info":"获取待审核事件成功!"}

审查者批准待审核试题...

{"info":"批准事件成功!"}

注册学生student...

{"info":"注册成功！","pri":"a5b77aa6bc3210b089d2a3456a61eefc780d8714b5bf2d99375e62470f331f45_sk","pub":"student@Org1MSP-cert.pem"}

学生登录...

{"info":"登录成功！"}

学生获取试题...

{"data":{"owner":"teacher","id":"1","data":"1 1=?"},"info":"获取试题成功!"}

学生获取所有试题...

{"data":[{"owner":"teacher","id":"1","data":"1 1=?"}],"info":"获取所有试题成功!"}

注册管理员admin...

{"info":"注册成功！","pri":"23c001612757eadc2544e9290c1e11ff7c1f672e78c60bf2b06c4f0c5d5b0277_sk","pub":"admin2@Org1MSP-cert.pem"}

管理员登录...

{"info":"登录成功！"}

管理员获取日志...

{"data":[{"id":"1","name":"teacher","op":"putQuestion","question_id":"1","time":"2020-05-22 13:12"},{"id":"2","name":"reviewer","op":"approve putQuestion","question_id":"cache_put_1","time":"2020-05-22 13:12"}],"info":"获取日志成功!"}

教师登录...

{"info":"登录成功！"}

教师获取所有试题...

{"data":[{"owner":"teacher","id":"1","data":"1 1=?","answer":"2"}],"info":"获取所有试题成功!"}

教师发布试卷...

{"info":"添加试卷成功！"}

获取所有试卷...

{"data":[{"id":1,"title":"计算机网络试卷一","owner":"teacher"}],"info":"获取所有试卷成功！"}

教师获取某试卷...

{"data":[{"answer":"2","data":"1 1=?","id":"1","owner":"teacher"}],"info":"获取试卷所有试题成功！"}

学生登录...

{"info":"登录成功！"}

学生获取某试卷...

{"data":[{"owner":"teacher","id":"1","data":"1 1=?"}],"info":"获取试卷所有试题成功！"}
