测试开始...

注册教师teacher...

{"info":"注册成功！","pri":"685ef1508512c5c900c7ba801874c193ef300cd72765709d87a998001cbb826c_sk","pub":"teacher@Org1MSP-cert.pem"}

注册审查者reviewer...

{"info":"注册成功！","pri":"d1b6a0c3dce2b543ac6cc8c5bbaacfd9dbf25dfac807118aa94b54c2517bcbb7_sk","pub":"reviewer@Org1MSP-cert.pem"}

教师登录...

{"info":"登录成功！"}

教师发布试题...

{"info":"增加试题成功!"}

审查者登录...

{"info":"登录成功！"}

审查者获取待审核事件...

{"data":{"putCache":[{"answer":"2","data":"1 1=?","id":"1","owner":"teacher"}],"delCache":null},"info":"获取待审核事件成功!"}

审查者批准待审核试题...

{"info":"批准事件成功!"}

注册学生student...

{"info":"注册成功！","pri":"40a50f130612a7558057977022082ec9e92bd98b204880b4ea2febe557499b79_sk","pub":"student@Org1MSP-cert.pem"}

学生登录...

{"info":"登录成功！"}

学生获取试题...

{"data":{"owner":"teacher","id":"1","data":"1 1=?"},"info":"获取试题成功!"}

学生获取所有试题...

{"data":[{"owner":"teacher","id":"1","data":"1 1=?"}],"info":"获取所有试题成功!"}

注册管理员admin...

{"info":"注册成功！","pri":"4a57f40883777913bf4e4149888699cc5c6a7663e892f59bc7859256d23e3e8f_sk","pub":"admin2@Org1MSP-cert.pem"}

管理员登录...

{"info":"登录成功！"}

管理员获取日志...

{"data":[{"id":"1","name":"teacher","op":"putQuestion","question_id":"1","time":"2020-05-22 15:17"},{"id":"2","name":"reviewer","op":"approve putQuestion","question_id":"cache_put_1","time":"2020-05-22 15:18"}],"info":"获取日志成功!"}

教师登录...

{"info":"登录成功！"}

教师获取所有试题...

{"data":[{"owner":"teacher","id":"1","data":"1 1=?","answer":"2"}],"info":"获取所有试题成功!"}

教师发布试卷...

{"info":"添加试卷成功！"}

获取所有试卷...

{"data":[{"id":1,"title":"计算机网络试卷一","owner":"teacher"}],"info":"获取所有试卷成功！"}

教师获取某试卷...

{"data":[{"answer":"2","data":"1 1=?","id":"1","owner":"teacher"}],"info":"获取试卷所有试题成功！"}

学生登录...

{"info":"登录成功！"}

学生获取某试卷...

{"data":[{"owner":"teacher","id":"1","data":"1 1=?"}],"info":"获取试卷所有试题成功！"}
